@charset "utf-8";
/* User: Eric Ma  
/* Email: zjafei@gmail.com
/* Date: 2015/7/6 */
/* Time: 9:37 */
.ui-popup-modal ._PRODUCTSELECTAREA{
    font-size: 12px;
    border-radius: 0;
    box-shadow: none;
    top: -1px;
    left: 1px;
    border-color: #f60;
}

.ui-popup-follow ._PRODUCTSELECTAREA > .ui-dialog-arrow-a, .ui-popup-follow  ._PRODUCTSELECTAREA > .ui-dialog-arrow-b {
    display: none;
}

.ui-popup-modal ._PRODUCTSELECTAREA .product-select-area-title {
    height: 25px;
    border-bottom: 1px #f60 solid;
}
.ui-popup-modal ._PRODUCTSELECTAREA .product-select-area-title div{
    display: inline-block;
    border: 1px #e5e5e5 solid;
    border-bottom-color: transparent;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    margin-right: 10px;
    cursor: pointer;
}
.ui-popup-modal ._PRODUCTSELECTAREA .product-select-area-title div.cur{
    border-color: #f60;
    border-bottom-color: #fff;
}
 .product-select-area-list div{
    display: inline-block;
    border: 1px transparent solid;
    margin-right: 10px;
     margin-top: 10px;
     cursor: pointer;
     line-height: 22px;
     padding: 0 8px;
}
.product-select-area-list div.cur, .product-select-area-list div:hover{
    color:#fff;
    border-color: #f60;
    background-color: #f90;
}